@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<partial name="_EmpCard" />

<a href="/Embloyee/Index">Back To List</a>
<a href="/Embloyee/ConfirmDelete/@Model.Id">Confirm  Delete</a>