<h1> Hello World From First View </h1>
<style>
	h1 {
	color: red
	}
</style>
<script>
	console.log("hello");
</script>
<!--Razor Engine-->
<!--Bolck Code-->
@{
	//valid c#
	int x = 10;
	int y = x + 10;
}
<!--Inline Statement-->
<h2>@x</h2>
@y

<!--Condition Statement-->
@if(x>y)
{
	<h1>x greater than y</h1>
}
else
{
	<h2>x =@x less than y = @y</h2>
}

<!--Looping Statement-->
@for(int i =0;i<10;i++)
{
	<li>@i</li>
}